@font-face {
    font-family: Vazir;
    src: url('/fonts/farsi-fonts/vazir-font-v18.0.0/Vazir.eot');
    src: url('/fonts/farsi-fonts/vazir-font-v18.0.0/Vazir.eot?#iefix') format('Vazir-opentype'),
    url('/fonts/farsi-fonts/vazir-font-v18.0.0/Vazir.woff') format('woff'),
    url('/fonts/farsi-fonts/vazir-font-v18.0.0/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1 {font-family: 'Vazir';}
